extends layout

block content
 
  .container
    h1(style="text-align:center;") Cartedo Recruitment Challenge
    h2(style="text-align:center;") Blockchain Demo
  
    br
    h3(style="text-align:center;")
      a(href='/hash') Create you Hash
    h3(style="text-align:center;") 
      a(href='/block') Create your Block
    h3(style="text-align:center;") 
      a(href='/blockchain') View your Blockchain
   
    